__pycache__
.DS_Store
.history
.hypothesis/
artifacts/
build/
reports/
node_modules/
!.solhint.json
package-lock.json
coverage
coverage.json
docs
truffle-config.js
package.json
hardhat.config.js
hardhat-ganache-tests.config.js
cache
brownie-config.yaml
.vscode
abi
*.md
types/
dist/

#contracts
packages/contracts/docs
packages/contracts/package.json
packages/contracts/cache
packages/contracts/*.yaml
packages/contracts/abi
packages/contracts/ignore/
packages/contracts/tmp/
packages/contracts/dist/
packages/contracts/build/
packages/contracts/hardhatAccountsList*.*
packages/contracts/test/js/**/*.js
packages/contracts/test/js/
packages/contracts/errorAccumulationTest/js/
packages/contracts/eth-mutants-custom/
packages/contracts/fuzzTests/js/
packages/contracts/gasTest/js/
packages/contracts/migrations/
packages/contracts/utils/js/
packages/contracts/external/
#packages/contracts/.prettierrc
packages/contracts/.prettierignore
packages/contracts/.eslintrc
packages/contracts/.eslintrc.json
packages/contracts/.eslintignore